######################## Basic ###################################
## Locale
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

## Editor
export EDITOR=nvim
export NVIM_APPNAME=nvim_tig
export KUBE_EDITOR=${EDITOR}
alias vim="${EDITOR}"
alias vi="${EDITOR}"
##################################################################

################ OS SPECIFIC #####################################
{{ if eq .chezmoi.os "darwin" -}}
export BASH_SILENCE_DEPRECATION_WARNING=1
{{- end }}

# Based on: https://pkg.go.dev/os#UserConfigDir
# On mac XDG_CONFIG_HOME is supposed to be "$HOME/Library/Application Support"
# However, this leads to issues because of space in the value. 
# Eg: See add_to_pet() below, which did not work. Hence, using linux default everywhere.
# !!NOTE!! Applications may default to "$HOME/Library/Application Support", causing issues. !!NOTE!!
export XDG_CONFIG_HOME="$HOME/.config"
##################################################################

############### https://github.com/homebrew/brew #################
# Based on https://docs.brew.sh/Installation

{{ if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") -}}
BREW_PREFIX="/opt/homebrew"
{{ else if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "amd64") -}}
BREW_PREFIX="/usr/local"
{{ else if eq .chezmoi.os "linux" -}}
BREW_PREFIX="/home/linuxbrew/.linuxbrew"
{{- end }}

BREW="${BREW_PREFIX}/bin/brew"
if command -V ${BREW} > /dev/null
then
    eval "$(${BREW} shellenv)"
fi

##################################################################

###################### Yubikey Git ###############################
# git settings
unset SSH_AGENT_PID
export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)

# git commit with signing
export GPG_TTY=$(tty)

# reconnect yubikey
gpg-tty() { gpg-connect-agent updatestartuptty /bye &> /dev/null; };
gpg-tty
##################################################################

####################### Prettify #################################
alias ls='ls -GF'
alias grep="grep --color -in --exclude-dir=.git"
cd() { builtin cd "$@" && pwd && ls; };

## Terminal Settings
export TERM="xterm-256color"
##################################################################


######################## Kubernetes ##############################
alias k='kubectl --namespace'

if command -V kubectl > /dev/null
then
    source <(kubectl completion bash)
fi
##################################################################

######################## Golang ##################################
export GOPATH=~/go
export GOBIN=$GOPATH/bin
##################################################################

####################### Bash History Tweaks ######################
# Append to history. Dont overwrite
shopt -s histappend
export HISTSIZE=2000
export HISTFILESIZE=5000
# Ignore dups and ignore starting with space
export HISTCONTROL=ignoreboth:erasedups
# Show date/time in bash history
export HISTTIMEFORMAT="%m/%d/%y %T "
##################################################################

############### https://github.com/naggie/dstask #################
alias t="dstask"
##################################################################

############# https://github.com/knqyf263/pet ####################
alias pet="pet --config "${XDG_CONFIG_HOME}"/pet/config.toml"
function add_to_pet() {
  PREV=$(echo `history | tail -n2 | head -n1` | cut -d' ' -f4-)
  sh -c "pet --config "${XDG_CONFIG_HOME}"/pet/config.toml new `printf %q "$PREV"`"
}
##################################################################

#################### https://ohmyposh.dev ########################
if command -V oh-my-posh > /dev/null
then
    eval "$(oh-my-posh --init --shell bash --config "${XDG_CONFIG_HOME}"/ohmyposh/star.omp.json)"
fi
##################################################################

############ https://github.com/gsamokovarov/jump ################
if command -V jump > /dev/null
then
    eval "$(jump shell)"
fi
##################################################################

######### https://github.com/mfontanini/presenterm ###############
if command -V presenterm > /dev/null
then
    alias presenterm='presenterm --image-protocol kitty-local -x'
fi
##################################################################

######### https://github.com/zk-org/zk ###############
if command -V zk > /dev/null
then
    alias zk='zk --notebook-dir=${XDG_CONFIG_HOME}/pkm --working-dir=${XDG_CONFIG_HOME}/pkm'
fi
##################################################################

############### https://github.com/junegunn/fzf ##################
# FZF completions with ** does not work due to vi mode
# See: https://github.com/junegunn/fzf/issues/1596#issuecomment-2128091715
if command -V fzf > /dev/null
then
    eval "$(fzf --bash)"

    ################ https://github.com/sharkdp/bat ##################
    if command -V bat > /dev/null
    then
        alias inv='"${EDITOR}" -p $(fzf -m --preview "bat --color=always {}")'
    fi
    ##################################################################

    ############# https://github.com/BurntSushi/ripgrep ##############
    if command -V rg > /dev/null
    then
        export FZF_DEFAULT_COMMAND='rg --files --no-ignore-vcs --hidden'
    fi
    ##################################################################
fi
##################################################################


############# https://github.com/vimwiki/vimwiki #################
# launch diary from command line:
alias diary='${EDITOR} -c ":VimwikiMakeDiaryNote"'

# launch index page from command line
alias vw='${EDITOR} -c ":VimwikiIndex"'

# convert a file into zettel
alias vz='${EDITOR} -c ZettelCapture'
##################################################################

########################## Global Path ###########################
# Please just update PATH in one place.
# "brew --prefix python" will succeed, even if python is **not** installed
# Not checking for installed python using `brew list python`,as it is SLOW.
export PATH="$PATH:$GOBIN:$(brew --prefix python)/libexec/bin"
##################################################################
